* {
	margin: 0;
	padding: 0;
	font-family: 'Inter UI', sans-serif;
}

.wrapper {
	width: 100%;
}

.img-banner {
	/*display: none;*/
}

.welcome {
	width: 100%;
}

.welcome h2{
	padding: 10px 50px 10px;
	font-size: 35px;
	color: #111;
	line-height: 44px;
}



.welcome p{
	padding: 0px 50px 20px;
	font-size: 18px;
	color: #111;
	line-height: 24px;
}

.img-welcome{
	width: 100%;
}

.current-projects h2{
	padding: 0px 50px 0px;
	font-size: 35px;
	color: #111;
	line-height: 44px;
}

.current-projects h3{
	padding: 0px 50px 10px;
	font-size: 25px;
	color: #929297;
	line-height: 25px;
}

.current-projects {
    display: table-cell;
}
.current-projects img {
    float: left;
	padding: 10px 50px 10px 10px;
}

.current-projects p{
	padding: 140px 30px 10px 30px;
	font-size: 18px;
	color: #111;
	line-height: 24px;
	position: relative;
	
}

.cv {
	width: 100%;
}

.cv h2{
		padding: 0px 50px 0px;
		font-size: 35px;
		color: #111;
		line-height: 44px;

}

.cv h3{
	padding: 5px 50px 10px;
	font-size: 2vw;
	color: #929297;
}

.pubs {
	width: 100%;
}

.pubs h2{
	padding: 0px 50px 0px;
	font-size: 35px;
	color: #111;
	line-height: 44px;
}

.pubs h3{
	padding: 0px 50px 0px;
	font-size: 25px;
	color: #929297;
	line-height: 25px;
}

li span {
font-size: 18px;
}

ol {
font-size: 18px;
padding: 10px 100px 10px; 

}

li{
  margin: 15px 0;
}

.contact {
	width:100%;
}

.contact h2{
	padding: 0px 50px 0px;
	font-size: 35px;
	color: #111;
	line-height: 44px;
}

.contact h3{
	padding: 0px 50px 0px;
	font-size: 25px;
	color: #929297;
	line-height: 25px;
}

ul {
font-size: 18px;
padding: 0px 50px 10px; 

}

